# Core
Django==3.2.25
djangorestframework==3.14.0
python-dotenv==0.21.1
dj-database-url==2.1.0  # For production database configuration

# Database
psycopg2-binary>=2.9.9  # For PostgreSQL

# Authentication
django-allauth==0.51.0  # For social auth if needed
djangorestframework-simplejwt==5.2.2  # For JWT tokens

# CORS
django-cors-headers==3.14.0

# Development
black==22.3.0  # Code formatting
flake8==5.0.4  # Code linting
pytest==7.2.2  # Testing
pytest-django==4.5.2
django-debug-toolbar==3.8.1  # Debugging

# Production
gunicorn>=21.2.0  # Production server
whitenoise==5.3.0  # Static files handling

django-rq==2.5.0  # Redis queue
django-redis==5.2.0  # Redis cache
